.btn_gray{
    color: #fff;
    background-color: #363636;
    border-color: #363636;
}

.btn_lightgray{
    color: #0f7ad1;
    background-color: #d9dadc;
    border-color: #d9dadc;
}

.btn_red{
    color: #fff;
    background-color: #cd3d0f;
    border-color: #cd3d0f;
}

.bg_gray{background-color: #1f1f1f;}

.bg_lightgray{background-color: #bebcbb;}

.bg_blue{background-color: #161c3b;}

.bg_lightblue{background-color: #00439c;}

li, a{
    list-style-type: none;
    text-decoration: none;
}

.logo_sony{
    min-height: 1vh;
    background-color: #000;
}

.logo_sony img{
    vertical-align: unset;
}

._hero{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 40vh;
}

.fs_7{font-size: 0.9rem;}

.fs_8{font-size: 0.8rem;}

.fs_9{font-size: 0.7rem;}

.rounded_4{border-radius: 1rem;}

.w_3{
    width: 3%;
}

._img-overlay{
    position: relative;
}

.overlay{
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

._ps-img > div:hover .overlay{
    display: none;
}

._ps-img > div{
    border-bottom: 2px solid transparent;
}

._ps-img > div:hover{
    border-bottom: 2px solid #0f7ad1;
}

._showcase > div img,
.new_releases > div img{
    border: 2px solid transparent;
    padding: 2px;
}

._showcase > div img:hover,
.new_releases > div img:hover{
    border: 2px solid #0f7ad1;
}

._hero-2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 55vh;
}

._ps-plus,
._ps-plus-img{
    height: 32vh;
}

._ps-now,
._ps-now-img{
    height: 37vh;
}

._copyright a{
    color: #fff;
    text-decoration: underline;
}

._img-overlay span,
._ps-now-img,
._ps-plus-img{
    display: none;
}

/* md */
@media screen and (min-width: 768px) and (max-width: 991px) {
    ._ps-img > div:last-of-type{display: none;}
    
    ._img-overlay span,
    ._ps-now-img,
    ._ps-plus-img{
        display: unset;
    }
    
    ._hero{min-height: 55vh;}

    .fs_9{font-size: 0.8rem;}

    .fs_8{font-size: 0.9rem;}

    ._ps4 > div span{
        display: inline-block;
        height: 10vh;
    }

    ._ps4 .my-5{margin-top: unset !important;}

    .w_3{width: 2%;}

}

/* lg */
@media screen and (min-width: 992px) and (max-width: 1199px){
    ._ps-img > div:last-of-type{display: none;}
    
    ._img-overlay span,
    ._ps-now-img,
    ._ps-plus-img{
        display: unset;
    }
    
    ._hero{min-height: 55vh;}

    ._hero > div span{font-size: 1rem;}

    .fs_9{font-size: 0.9rem;}

    .fs_8{font-size: 0.9rem;}

    ._ps4 > div span{
        display: inline-block;
        height: 7vh;
    }

    ._ps4 .my-5{margin-top: unset !important;}

    ._ps-plus,
    ._ps-plus-img{
        height: 40vh;
    }

    ._ps-now,
    ._ps-now-img{
        height: 42vh;
    }

    footer > div > div:nth-last-of-type(2){
        margin-top: unset !important;
    }

    .w_3{width: 3%;}
}

@media screen and (min-width: 1200px) and (max-width: 1399px){
    ._ps-img > div:last-of-type{display: none;}
    
    ._img-overlay span,
    ._ps-now-img,
    ._ps-plus-img{
        display: unset;
    }
    
    ._hero{min-height: 60vh;}

    ._hero > div span{font-size: 1rem;}

    .fs_9{font-size: 1rem;}

    .fs_8{font-size: 0.9rem;}
    
    ._ps4 > div span{
        display: inline-block;
        height: 6vh;
    }

    ._ps4 .my-5{margin-top: unset !important;}

    ._ps-plus,
    ._ps-plus-img{
        height: 40vh;
    }

    ._ps-now,
    ._ps-now-img{
        height: 42vh;
    }

    footer div.mt-5 span{
        font-size: 0.7rem;
    }

    footer > div > div:nth-last-of-type(2){
        margin-top: unset !important;
    }

    .w_3{width: 2.5%;}
}

/* xxl */
@media screen and (min-width: 1400px) {
    ._ps-img > div:last-of-type{display: none;}
    
    ._img-overlay span,
    ._ps-now-img,
    ._ps-plus-img{
        display: unset;
    }
    
    ._hero{min-height: 70vh;}

    ._hero > div span{font-size: 1rem;}

    .fs_9{font-size: 1rem;}

    .fs_8{font-size: 0.9rem;}
    
    ._ps4 > div span{
        display: inline-block;
        height: 5vh;
    }

    ._ps4 .my-5{margin-top: unset !important;}

    ._hero-2 > div span{font-size: 1rem;}

    ._ps-plus,
    ._ps-plus-img{
        height: 45vh;
    }

    ._ps-now,
    ._ps-now-img{
        height: 47vh;
    }

    footer div.mt-5 span{
        font-size: 0.7rem;
    }

    footer > div > div:nth-last-of-type(2){
        margin-top: unset !important;
    }

    .w_3{width: 1.8%;}
}